@media (max-width: 1000px) {
  .main-footer {
    flex-direction: column;
    align-items: center;
  }

  .main-footer div {
    align-items: center;
    margin: 10px;
  }

  .main-footer h4 {
    text-align: center;
  }
}
