@import "../../index";

.main-footer-quick-links {
  width: fit-content; // to prevent stretching in horizontal direction

  color: black;
  text-decoration: none;

  &:hover {
    color: blue;
    text-decoration: underline;
  }
}

.footer-facebook-icon,
.footer-twitter-icon,
.footer-instagram-icon,
.footer-linkedIn-icon {
  color: white;
}
.footer-facebook-icon:hover {
  color: #4267b2;
}

.footer-twitter-icon:hover {
  color: #1da1f2;
}

.footer-instagram-icon:hover {
  color: #8a3ab9;
}

.footer-linkedIn-icon:hover {
  color: #0077b5;
}

@media (max-width: 1000px) {
  .main-footer {
    flex-direction: column;
    align-items: center;
  }

  .main-footer div {
    align-items: center;
    margin: 10px;
  }

  .main-footer h4 {
    text-align: center;
  }
}
