@import "../../index";

.secondary-navbar-desktop-subheader {
  font-family: "Prompt", cursive;
  text-decoration: none; // for link inconsistency

  position: relative;
  padding: 6px;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
    color: inherit;
    background-color: white;
    transform-origin: center;
    transform: scaleX(0);

    transition: 0.4s;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleX(1);
    }
  }
}

.desktop-view-navbar-links {
  display: flex;
  justify-content: center;
}

.desktop-secondary-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
}

.mobile-view-drawer-button {
  display: none;
}

.navbar-subLink {
  font-family: "Prompt", cursive;
  color: black;
  text-decoration: none;
  text-align: center;

  padding: 10px;
}

// social icons
.main-navbar-contact-us {
  display: flex;
}

.navbar-facebook-icon,
.navbar-twitter-icon,
.navbar-instagram-icon,
.navbar-linkedIn-icon {
  color: white;
  transition: .2s;
}

.navbar-facebook-icon:hover {
  color: #4267b2;
}

.navbar-twitter-icon:hover {
  color: #1da1f2;
}

.navbar-instagram-icon:hover {
  color: #8a3ab9;
}

.navbar-linkedIn-icon:hover {
  color: #0077b5;
}

@media (max-width: 900px) {
  .mobile-view-drawer-button {
    display: inline-block;
  }

  .desktop-view-navbar-links {
    display: none;
  }

  .desktop-secondary-navbar {
    display: none;
  }
}

@media (max-width: 800px) {
  .main-navbar-contact-us {
    display: none;
  }
}
